

services:
  backend:
    profiles:
      - backend
      - ''
    container_name: wegotthis-backend
    build:
      context: ./frontend
    image: wegotthis/frontend
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_started
      localstack:
        condition: service_healthy
  frontend:
    profiles:
      - ''
    container_name: wegotthis-frontend
    build:
      context: ./backend
    image: wegotthis/frontend
    ports:
      - "5173:5173"
    depends_on:
      backend:
        condition: service_started
  redis:
    profiles:
    - backend
    - ''
    - infra
    container_name: redis-stack
    image: redis/redis-stack:latest
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data
  localstack:
    profiles:
    - backend
    - ''
    - infra
    container_name: "wegotthis-localstack-main"
    image: localstack/localstack
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      # LocalStack configuration: https://docs.localstack.cloud/references/configuration/
      - DEBUG=${DEBUG:-0}
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
  maildev:
    profiles:
    - ''
    - infra
    container_name: maildev
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025"
volumes:
  redis_data:
    
    