.authenticationContainer {
  width: 80%;
  margin: 0 auto;
  height: fit-content;
  display: flex;
}

.appContainerBackground {
  background: rgb(79,70,229);
  background: radial-gradient(circle, rgba(79,70,229,1) 0%, rgba(148,213,233,1) 100%);
}