:root {
  --color-primary: #6B63EB;
  --color-highlight: #f97316;
  --color-highlight-hover: #fa921a;
  --color-success-bg: #CFF7D3;
  --color-success-text: #02542D;
  --color-inactive-bg: #f3f4f6;
  --color-inactive-text: #9CA3AF;
  --color-error: #B00020;

  --font-main: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #1f2937;
  background-color: #fff;

  font-family: var(--font-main), ui-monospace;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-highlight)
}

body {
  background: radial-gradient(circle, rgba(79,70,229,0.1) 1%, rgba(148,213,233,0.3) 100%);
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6,p {
  text-align: start;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.5em;
}

h3{
  font-size: 1.17em;
}

h4{
  font-size: 1em;
}

h5{
  font-size: 0.83em;
}

h6{
  font-size: 0.67em;
}

input{
  font-size: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}