.buttonContainer {
    color: #fff;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
}
  
.uploadButton {
    background-color: #fa921a;
    border: 1px solid #6366f1;
    border-radius: 8px;
    color: #fff;
    min-height: 48px;
    padding: 14px 40px;
    cursor: pointer;
}