.categorySelector {
    width: 100%;
    margin-bottom: 3em;
}

.categoryHeaderSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryHeader h2{
  margin-bottom: 0;
}

.categoryHeader p{
  margin-top: 0;
}

.addCategoryBtn{
  text-transform: capitalize !important;
}

.chipContainer {
  width: 75%;
  margin-top: .5em;
}